﻿@model WSBangHang_4813.Models.Category
<head>
    <link href="~/css/add.css" rel="stylesheet" />
</head>
<h2>Cập nhật danh mục</h2>

<form method="post" action="@Url.Action("Update", "Category", new { id = Model.Id })">
    <div class="form-group">
        <label for="name">Tên danh mục:</label>
        <input type="text" id="name" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">Back</a>
</form>
