﻿@model IEnumerable<WSBangHang_4813.Models.Product>
<head>
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<h2>Products</h2>
<div class="conta">
    <a class="conten" href="@Url.Action("Add", "Product")">Thêm danh mục mới</a>
</div>


<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 col-md-6">
                <a asp-action="Display" asp-route-id="@product.Id" style="text-decoration: none; color: inherit;">
                    <div class="card">
                        <div class="image-container">
                            <img class="card-img-top" src="@product.ImageUrl" alt="Product Image">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">
                                Price: @product.Price <br>
                                Description: @product.Description
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


