﻿.card-body{
    padding: 8px;
    display:flex;
    flex-direction: column;
    gap: 4px;
}
.card-title{
    font-weight: 700;
}

.card {
    border: none;
    background-color: #efefef;
    color: #424242;
    margin: 10px;
    width: 250px;
    height: 375px;
    position: relative;
    border-radius: 5px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}
    .card:hover {
        box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000026;
    }


img {
    border-radius:5px;
    max-width: 250px;
    max-height: 280px;
    object-fit: cover;
}

h2 {
    background-color: #efefef;
    color: #424242;
    padding: 10px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

.conta {
    margin: 20px 0;
}

.conten {
    font-size: 20px;
    color: #424242;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 12px;
    padding: 8px 20px 8px 20px;
    background-color: #efefef;
    border: none;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

    .conten:hover {
        box-shadow: 2px 2px 3px #f9f9f9, -2px -2px 2px #00000026;
        background-color: #efefef;
        color: #424242;
    }