﻿section {
    margin-top: 20px;
    width: 440px;
    position: relative;
    background-color: #efefef;
    border: 2px solid rgba(255, 255, 255 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}



h1 {
    border-radius: 10px;
    padding: 0 0 5px 15px;
    width: 170px;
    background-color: #efefef;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}


.form-control {
    color: #424242;
    border-radius: 10px;
    background-color: #efefef;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 35px 5px;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}
    .form-control:hover {
        box-shadow: 2px 2px 3px #f9f9f9, -2px -2px 2px #00000026;
        background-color: #efefef;
        color: #424242;
        outline: none;
    }

.checkbox {
    margin: 35px 0;
    color: #424242;
    display: flex;
    justify-content: space-between;
}


.btn {
    outline: none;
    background-color: #efefef;
    color: #424242;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    box-shadow: -3px -3px 10px #f9f9f9, 6px 6px 10px #00000026;
}

    .btn:hover {
        outline: none;
        color: #424242;
        background-color: #efefef;
        box-shadow: 2px 2px 2px #f9f9f9, -2px -2px 2px #00000026;
    }

.aa{
    color: #424242;
    margin-top:20px;
}
.aa a {
    margin-left:10px;
    color: #424242;
}